.body{

    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    padding: 0;
}

h2{
color:lightblue;
margin-top: 20px;
justify-content: center;
display: flex;
}
.contain{
 border: 2px solid lightgreen;
 width:600px;
 height: auto;
 margin-left: 400px;
 margin-top: 2rem;
 padding: 50px;
}
.contain input{
    width:250px;
    height:40px;
    ;

}