body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: cadetblue;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 10px 10px 50px grey;
  text-align: center;
}

.container input {
  width: 300px;
  height: 60px;
  font-size: 25px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 20px;
}

.container button {
  width: 70px;
  height: 60px;
  margin: 5px;
  font-size: 20px;
  border-radius: 10px;
  background-color: lightgrey;
  box-shadow: 5px 5px 10px grey;
}

button:hover {
  background-color: lightcoral;
  cursor: pointer;
  transform: scale(1.05);
}
