*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
}

.container{
border: 3px solid gray;
color:white;
background-color:#182848;
height: 500px;
width: 500px;
border-radius: 14px;;
box-shadow: 2px 2px 8px gray;
}
h3{
    display: flex;
     justify-content: center;
  align-items: center;
  margin-bottom: 6px;;
}
.game{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.box{
    height:  100px;
    width: 100px;
    display: flex;
     justify-content: center;
  align-items: center;
    border: 2px solid white;;
    border-radius: 14px;
    cursor: pointer;
}
.box:hover{
    box-shadow: 2px 2px  8px seashell ;
}