*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
}

.container{
border: 3px solid gray;
color:white;
background-color:#182848;
height: 500px;
width: 500px;
border-radius: 14px;;
box-shadow: 2px 2px 8px gray;
}

.box{
    height:  100px;
    width: 100px;
    display: flex;
     justify-content: center;
  align-items: center;
    
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid white;;
    border-radius: 4px;
}