*{
    background: #543d23;
background: -webkit-linear-gradient(90deg, rgba(84, 61, 35, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
background: -moz-linear-gradient(90deg, rgba(84, 61, 35, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
background: linear-gradient(90deg, rgba(84, 61, 35, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#543D23", endColorstr="#FCB045", GradientType=1);
}
.top{
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    ;
}