*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: yellow;
}
.navbar-second{
    background-color:red;
}
.sidebar{
    background-color:brown;
}

.content{
    background-color: coral;
}

.footer{
    background-color: green;
}
