*{
    padding: 0;
}
.callout{
    background-color: lightblue;
    color:cadetblue;
    line-height:1.4rem;
    width:300px;
    padding: 20px;;
}

.toggle{
color:brown;
}
.toggle_element{
width:10px;
height: 40px;
background-color: cadetblue;
} 

.awesome{
    text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  border: 5px solid;
  padding: 2rem;
  width: 320px;
}

awesome[data-sizing="intrinsic"] {
  width: min-content;
}

/*


Presentational styles 
*/
.awesome {
  --flow-space: 2rem;
}

