.ele{
    background-size: cover;
  background-position: center;
   justify-content: center;
    align-items: center;
    max-height: 600px;
  position: relative;

}
.ele img{
    height: 100vh;;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
}

.ele h1{
    color:black;
    justify-content: center;
    align-items: center;
     ;
}
