
.ele h1{
     padding: 1.5em;
  background: hsl(0 100% 100% / 55%);
  backdrop-filter: blur(10px);
  z-index: 1;
  font-weight: bold;
  text-transform: uppercase;
}
.ele img{
    height: 100vh;;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
}



.ele{
display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh; */
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  /* max-height: 600px;
  position: relative;; */

}