*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

background: linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);

/* background: -moz-linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%); */

}

.main{
     display: flex;
    justify-content: center;
    align-items: center;  
    border:2px solid white;
    height: 400px;
    width: 600px;
    box-shadow: 2px 2px 8px white;
    font-size: 20px;
     margin-top: 200px;
     background-color:#003262;

}

.age{
    background-color:#003262;
     box-shadow: 2px 2px 8px white;
    border:2px solid white;
    height:300px;
    width:400px;
}

.age h1{
     display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 15px;
    color:whitesmoke;
    font-size: 200;
    
}

.age  label{
    color:white;
 display: flex;
 justify-content: center;
 font-size: 30px;
 margin:20px;
   
}
.age input{
     display: flex;
     justify-content: center; 
     height: 30px;
     width: 200px;
    margin-left: 100px;
    border-radius: 10px;
}
.age button{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 30px;
     width: 200px;
     margin: 2rem;;
      margin-left: 100px;
    border-radius: 10px;
}


#realage{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 30px;
     width: 200px;
     margin: 2rem;;
      margin-left: 100px;
    border-radius: 10px;
    color:white;
}