*{
    height: 100vh;
     box-sizing: border-box;
}
body {
  background-color:#ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain{
  width: 800px;
    height: 600px;
    background-color:#F7F7F7;
    border: 2px solid white;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
  color:white;
}