*{
    padding: 0;
    margin: 0;
    background-color: wheat;
}
.contain{
    /* background-color: whitesmoke;
    width: 800px;
    height: 600px;
    border: 2px solid black;
    display: flex;;
    justify-content: center;
    align-items: center;
     */

display: flex;
    justify-content: center;  /* center horizontally */
    align-items: center;      /* center vertically */
    height: 100vh;            /* full height of viewport */
    margin: 0;
    background-color: #f0f0f0;
}