* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centered container */


/* Navigation bar */


/* Main content area */
.main {

  display: flex;
  justify-content: center;
  align-items: center;
}

