*{
    padding: 0;
    margin: 0;
}

.contain{
    background-color: black;
     color: whitesmoke;
    justify-content: center;
    flex:1;
    flex-direction: wrap;
}

.toast{
    border:3px solid green;

    
}

.toast img{
    width:600px;
    height: 400px;;
    border-radius:13px;
}